<section class="footer">
  <small><em>Feedback? Tweet <a href='https://twitter.com/Carols10cents'>@carols10cents</a> or <a href='https://github.com/carols10cents/buy-or-not'>submit an issue!</a></em></small>
</section>