<div class="homepage">
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>To Buy or Not To Buy?</h1>
      <p>A fast way to look at your Discogs collection while you're in your local record store wondering whether you already own this album or not.</p>
        <%= form_tag '/auth/discogs' do  %>
          <div class="form-group">
            <%= submit_tag 'Sign in with Discogs', class: 'btn btn-primary btn-lg btn-block' %>
            <div class="checkbox">
              <label>
                <%= check_box_tag :remember_me %> Remember me for two weeks
              </label>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>