<h1>Welcome to Buy Or Not!</h1>
<section>
  <% if current_user %>
    You are signed in as <%= current_user.username %>. <%= link_to "Sign out", signout_path %>
  <% else %>
    <%= link_to "Sign in with Discogs", '/auth/discogs' %>
  <% end %>
</section>
