<h1>Buy or Not?</h1>
<section class="whoami">
  You are signed in as <%= current_user.username %>. <%= link_to "Sign out", signout_path, method: :delete %>
</section>
<section class="collection-sync">
  You have not synced your discogs collection.
  <button id='sync-collection'>Sync now</button>
</section>
<section class="search">
</section>