<h1>To Buy or Not To Buy?</h1>
<section class="whoami">
  You are signed in as <%= current_user.username %>. <%= link_to "Sign out", signout_path, method: :delete %>
</section>
<section class="collection-sync">
  <span class="sync-stats">You have not synced your discogs collection.</span>
  <button id='sync-collection' class='btn btn-default'>Sync now</button>

  <div class="collection-stats">
    Synced <span class="collection-num">0</span> out of <span class="collection-total">0</span> releases.
  </div>
</section>
<section class="search">
  <form class="ui-filterable">
    <input name="search" id="search" class="form-control" data-type="search" type="text" autocomplete="off" placeholder="Search" />
  </form>
</section>
<ul id="results" data-filter="true" data-input="#search">
</ul>
