$body-bg: #DBD2C8;
$text-color: #1A160F;

$jumbotron-bg: #F2F0EB;

$btn-primary-bg: #F79D1E;
$btn-primary-color: $text-color;

$input-group-addon-bg: $btn-primary-bg;
$input-color: $text-color;

$state-info-bg: $btn-primary-bg;
$state-info-text: $text-color;

$grid-float-breakpoint: 3000px;

$navbar-default-bg: $body-bg;
$navbar-default-color: $text-color;

$navbar-default-toggle-icon-bar-bg: $btn-primary-bg;
$navbar-default-toggle-hover-bg: darken($btn-primary-bg, 5%);

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.mobile.custom.structure.min";
@import "jquery.mobile.custom.theme.min";

.collection {
  background-color: $jumbotron-bg;
  padding-bottom: 25px;
}

.navbar h1 {
  margin-left: 15px;
}

button.navbar-toggle {
  background-color: $btn-primary-bg;
  &:hover {
    background-color: darken($btn-primary-bg, 5%);
  }
}

.navbar-collapse p {
  text-align: right;
}

.jumbotron {
  margin-top: 30px;
}

.hidden {
  display: none;
}

.homepage > .container-fluid,
.collection nav .container,
.collection > .container-fluid {
  max-width: 600px;
}

button#clear-search {
  pointer-events: auto;
}

.spin {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
